<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Draughts</title>
    <link rel="icon" href="/Images/Icon.png">
    <link rel="stylesheet" href="/Fonts/Pac_Font/Pac_Font.css" type="text/css" charset="utf-8" />
    <link rel="stylesheet" href="/Stylesheets/Style.css">
    <link rel="stylesheet" href="/Stylesheets/Game.css">
    <script src="/Javascript/game.js"></script> 
  </head>

  <body>
    <main>
      <section id="Board">
        <div id="PlaySpace">
          <div id="Allies">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:0%; top: 90%;" id="a0">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:20%; top: 90%;" id="a1">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:40%; top: 90%;" id="a2">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:60%; top: 90%;" id="a3">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:80%; top: 90%;" id="a4">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:10%; top: 80%;" id="a5">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:30%; top: 80%;" id="a6">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:50%; top: 80%;" id="a7">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:70%; top: 80%;" id="a8">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:90%; top: 80%;" id="a9">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:0%; top: 70%;" id="a10">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:20%; top: 70%;" id="a11">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:40%; top: 70%;" id="a12">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:60%; top: 70%;" id="a13">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:80%; top: 70%;" id="a14">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:10%; top: 60%;" id="a15">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:30%; top: 60%;" id="a16">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:50%; top: 60%;" id="a17">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:70%; top: 60%;" id="a18">
            <img class="BoardPiece" src="/Images/PacMan_Yellow.png" style="left:90%; top: 60%;" id="a19">
          </div>

          <div id="Opponents">
            <img class="BoardPiece" src="/Images/Spooky_Blue.png" style="left:90%; top: 0%;" id="o0">
            <img class="BoardPiece" src="/Images/Spooky_Blue.png" style="left:70%; top: 0%;" id="o1">
            <img class="BoardPiece" src="/Images/Spooky_Blue.png" style="left:50%; top: 0%;" id="o2">
            <img class="BoardPiece" src="/Images/Spooky_Blue.png" style="left:30%; top: 0%;" id="o3">
            <img class="BoardPiece" src="/Images/Spooky_Blue.png" style="left:10%; top: 0%;" id="o4">
            <img class="BoardPiece" src="/Images/Spooky_Orange.png" style="left:80%; top: 10%;" id="o5">
            <img class="BoardPiece" src="/Images/Spooky_Orange.png" style="left:60%; top: 10%;" id="o6">
            <img class="BoardPiece" src="/Images/Spooky_Orange.png" style="left:40%; top: 10%;" id="o7">
            <img class="BoardPiece" src="/Images/Spooky_Orange.png" style="left:20%; top: 10%;" id="o8">
            <img class="BoardPiece" src="/Images/Spooky_Orange.png" style="left:0%; top: 10%;" id="o9">
            <img class="BoardPiece" src="/Images/Spooky_Red.png" style="left:90%; top: 20%;" id="o10">
            <img class="BoardPiece" src="/Images/Spooky_Red.png" style="left:70%; top: 20%;" id="o11">
            <img class="BoardPiece" src="/Images/Spooky_Red.png" style="left:50%; top: 20%;" id="o12">
            <img class="BoardPiece" src="/Images/Spooky_Red.png" style="left:30%; top: 20%;" id="o13">
            <img class="BoardPiece" src="/Images/Spooky_Red.png" style="left:10%; top: 20%;" id="o14">
            <img class="BoardPiece" src="/Images/Spooky_Pink.png" style="left:80%; top: 30%;" id="o15">
            <img class="BoardPiece" src="/Images/Spooky_Pink.png" style="left:60%; top: 30%;" id="o16">
            <img class="BoardPiece" src="/Images/Spooky_Pink.png" style="left:40%; top: 30%;" id="o17">
            <img class="BoardPiece" src="/Images/Spooky_Pink.png" style="left:20%; top: 30%;" id="o18">
            <img class="BoardPiece" src="/Images/Spooky_Pink.png" style="left:0%; top: 30%;" id="o19">
          </div>
        </div>
      </section>

      <section class="BoardNumbering" id="VerticalNumbering">
        <div id="VerticalNumberOffset">
          <span class="CellNumber VerticalNumber">0</span>
          <span class="CellNumber VerticalNumber">1</span>
          <span class="CellNumber VerticalNumber">2</span>
          <span class="CellNumber VerticalNumber">3</span>
          <span class="CellNumber VerticalNumber">4</span>
          <span class="CellNumber VerticalNumber">5</span>
          <span class="CellNumber VerticalNumber">6</span>
          <span class="CellNumber VerticalNumber">7</span>
          <span class="CellNumber VerticalNumber">8</span>
          <span class="CellNumber VerticalNumber">9</span>
        </div>
      </section>

      <section class="BoardNumbering" id="HorizontalNumbering">
        <div id="HorizontalNumberOffset">
          <span class="CellNumber HorizontalNumber">A</span>
          <span class="CellNumber HorizontalNumber">B</span>
          <span class="CellNumber HorizontalNumber">C</span>
          <span class="CellNumber HorizontalNumber">D</span>
          <span class="CellNumber HorizontalNumber">E</span>
          <span class="CellNumber HorizontalNumber">F</span>
          <span class="CellNumber HorizontalNumber">G</span>
          <span class="CellNumber HorizontalNumber">H</span>
          <span class="CellNumber HorizontalNumber">I</span>
          <span class="CellNumber HorizontalNumber">J</span>
        </div>
      </section>
    </main>


    <aside>
      <section class="MenuItem" id="Title">
        <div class="CenterTitle">
          <H1>DRAUGHTS</H1>
        </div>
        <button id="RuleButton">
          <span class="ButtonText">SHOW RULES</span>
        </button>
      </section>

      <section class="MenuItem" id="Turn">
        <H2 id="TurnPlayer" style="display: inherit;">!! YOUR TURN !!</H2>
        <H2 id="TurnOpponent" style="display: none;">WAIT FOR OPPONENT...</H2>
        <button id="EndTurnButton">
          <span class="ButtonText">END TURN</span>
        </button>
      </section>

      <section class="MenuItem Stats" id="OpponentStats">
        <H2>
          OPPONENT SCORE: 
          <span class="StatCounter ScoreCounter" id="OpponentScore">00</span>
          <img src="/Images/PacMan_Dead.png">
        </H2>
      </section>

      <section class="MenuItem Stats" id="PlayerStats">
        <H2>
          YOUR SCORE: 
          <span class="StatCounter ScoreCounter" id="PlayerScore">00</span>
          <img src="/Images/Spooky_Dead.png">
        </H2>
      </section>

      <section class="MenuItem Stats" id="TimeStats">
        <H2>
          TIME ELAPSED: 
          <span class="StatCounter" id="Time">0:00:00</span>
        </H2>
      </section>
    </aside>


    <div id="PopUp" style="display: inherit;">
      <div id="PopUpBorder">
        <section id="PopUpTitle">
          <h1 class="WaitPopUp" style="display: inherit;">WAITING FOR ANOTHER PLAYER...</h1>
          <h1 class="RulesPopUp" style="display: none;">GAME RULES</h1>
          <h1 class="WinPopUp" style="display: none;">YOU WON!</h1>
          <h1 class="LosePopUp" style="display: none;">YOU LOST!</h1>
          <h1 class="DrawPopUp" style="display: none;">DRAW!</h1>
          <h1 class="DropOutPopUp" style="display: none;">OPPONENT LEFT!</h1>
          <h1 class="ConnectionPopUp" style="display: none;">CONNECTION LOST!</h1>
        </section>
        <section id="PopUpText">
          <p class="WaitPopUp" style="display: inherit;">If the waiting takes a long time, you can consider inviting someone to play the game with you.</p>
          <p class="WinPopUp" style="display: none;">Congratulations! You defeated your opponent.</p>
          <p class="LosePopUp" style="display: none;">Better luck next time! Maybe you can try again?</p>
          <p class="DrawPopUp" style="display: none;">A player got stuck! Therefore, the winner cannot be determined.</p>
          <p class="DropOutPopUp" style="display: none;">Unfortunately, this game has come to an end. You can start a new game if you want to.</p>
          <p class="ConnectionPopUp" style="display: none;">Unfortunately, the broken connection caused this game to end.<br>You can try to reconnect to the internet and start a new game.</p>
          <ul class="RulesPopUp" style="display: none;"><%- rulesText %></ul>
        </section>
        <section id="PopUpButton">
          <button class="RulesPopUp" id="ClosePopUpButton" style="display: none;">
            <span class="ButtonText">CLOSE</span>
          </button>
          <button class="WinPopUp LosePopUp DrawPopUp DropOutPopUp ConnectionPopUp" id="HomePageButton" style="display: none;">
            <span class="ButtonText">RETURN TO HOME</span>
          </button>
        </section>
      </div>
    </div>
  </body>
</html>