<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="icon" href="/Images/Icon.png">
        <title>Draughts - Rules</title>
        <link rel="stylesheet" href="Stylesheets/Style.css">
        <link rel="stylesheet" href="Stylesheets/Rules.css">
        <script src="/Javascript/rules.js"></script> 
    </head>
    <body>
        <main>
            <div class="title"></div>
            <div class="box" id="rules">
                <ul><%- rulesText %></ul>
            </div>
            <button class="box" id="back">Back to Home</button>
        </main>
    </body>
</html>
