img {
    vertical-align: middle;
    width: 2em;
    height: 2em;
  }
  
span {
    vertical-align: middle;
}

h1 {
    font-size: 110%;

    margin: 0;
}

h2 {
    font-size: 70%;

    display: table-cell;
    vertical-align: middle;
}

p {
    display: inline;
}

ul {
    padding-left: 5%;
    padding-right: 3%;
    margin: 0;
    text-align: left;
}

button {
    outline: none;
    border: none;
    background-color: transparent;

    background-image: url("/Images/button_active.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    font-family: pacfont;
    color: orange;
    font-size: 70%;
    font-weight: bold;

    position: absolute;
    left: 5%;
    right: 5%;
    bottom: 5%;

    width: 90%;
    height: 45%;
}

button:hover {
    background-image: url("/Images/button_hover.png");
}

button:enabled:active {
    background-image: url("/Images/button_click.png");
    font-weight: lighter;
}

button:disabled {
    background-image: url("/Images/button_inactive.png");
}

.ButtonText {
    width: 100%;

    position: absolute;
    bottom: 0.75em;
    left: 0;
}



main {
    font-family: 'Segoe UI';
    font-weight: bold;
    color: royalblue;

    width: 56.25%;
    height: 100%;
    
    position: absolute;
    float: left;
    top: 0;
    left: 0;
}

#Board {
    background-image: url("/Images/Background_Board.png");
    background-size: 100% 100%;

    width: 90%;
    height: 90%;

    position: relative;
    float: right;
    top: 0;
    right: 0;
}

#PlaySpace {
    width: 96%;
    height: 96%;
    
    position: absolute;
    float: right;
    top: 2%;
    right: 2%;
}

.BoardPiece {
    width: 10%;
    height: 10%;
    
    position: absolute;
    float: left;
}

.BoardNumbering {
    position: relative;
    float: right;
    top: 0;
    right: 0;
}
#VerticalNumbering {
    width: 9%;
    height: 90%;
}
#HorizontalNumbering {
    width: 90%;
    height: 9%;
}

#VerticalNumberOffset {
    height: 96%; 
    width: 100%; 
    
    position: absolute;
    top: 2%;
}
#HorizontalNumberOffset {
    height:100%; 
    width:96%; 

    position: absolute;
    left:2%;
}

.CellNumber {
    position: relative;
    float: left;
}
.VerticalNumber {
    height: 10%;
    width: 100%;
}
.HorizontalNumber {
    height: 100%;
    width: 10%;
}



aside {
    font-family: pacfont;

    width: 40%;
    height: 90%;

    position: relative;
    float: right;
    top: 0px;
    right: 0px;
}

.MenuItem {
    background-size: 100% 100%;

    width: 100%;

    position: absolute;
    left: 0;
    right: 0;
}

#Title {
    color: pink;

    background-image: url("/Images/Section_Title.png");

    top: 0;
    height: 28%;
}
.CenterTitle {
    margin: 6%;
}

#Turn {
    background-image: url("/Images/Section_Turn.png");

    top: 31%;
    height: 24%;
}

#TurnPlayer {
    color: greenyellow;
}
#TurnOpponent {
    color: red;
}

.Stats {
    background-image: url("/Images/Section_Stats.png");

    height: 12%;

    display: table;
}
#OpponentStats {
    color: yellow;

    top: 58%;
}
#PlayerStats {
    color: yellow;

    top: 73%;
}
#TimeStats {
    color: aqua;

    top: 88%;
}

.StatCounter {
    font-family: 'Segoe UI';
    font-weight: bold;
}
.ScoreCounter {
    color: lightgray;
}


#PopUp {
    width: 100%;
    height: 100%;

    position: absolute;
    top: 0;
    right: 0;

    color: yellow;
    background-color: rgba(0, 0, 0, 50%);
}

#PopUpBorder {
    width: 80%;
    height: 80%;

    position: absolute;
    top: 5%;
    right: 7.5%;

    background-image: url("/Images/Popup.png");
    background-size: 100% 100%;
}

#PopUpTitle {
    font-family: pacfont;
    font-size: 90%;

    position: relative;
    height: 14%;
    top: 4%;
}

#PopUpText {
    font-family: 'Segoe UI';
    font-weight: bold;

    font-size: 50%;
    line-height: 110%;
}

#PopUpButton {
    position: absolute;
    bottom: 0;
    left: 25%;

    width: 50%;
    height: 30%;
}

.WinPopUp {
    color: yellowgreen;
}

.LosePopUp {
    color: red;
}

.ConnectionPopUp {
    color: red;
}