main {
    background-image: url("/Images/Background_Splash.png");
    background-size: 100% 100%;

    width: 100%;
    height: 100%;
}

ul {
    padding-left: 3%;
    padding-right: 2%;
    margin: 0;

    text-align: left;
    font-size: 55%;
    line-height: 100%;
}


.title {
    background-image: url("/Images/Title.png");
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    left:10%;
    top:5%;

    width: 80%;
    height: 25%;
}

#back {
    background-image: url("/Images/Button_Rules.png");
    background-size: 100% 100%;

    left: 30%;
    bottom: 2%;

    width: 40%;
    margin: 0;
}
#back:hover {
    background-image: url("/Images/Button_Rules_Hover.png");
    background-size: 100% 100%;

    cursor:pointer;
}

#rules {
    left:15%;
    top:30%;

    width:70%;
    height: 55%;
}