main {
    background-image: url("/Images/Background_Splash.png");
    background-size: 100% 100%;

    width: 100%;
    height: 100%;
}

.title {
    background-image: url("/Images/Title.png");
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    left:10%;
    top:5%;

    width: 80%;
    height: 25%;
}

button {
    outline: none;
    border: none;
    background-color: transparent;

    background-image: url("/Images/Start.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    position: absolute;
    left: 35%;
    top: 30%;

    width: 30%;
    height: 40%;

    margin: 0;
}
button:hover {
    background-image: url("/Images/Start_Hover.png");
    cursor: pointer;
    animation: playAnimation 5s infinite linear;
}

@keyframes playAnimation {
    0%   {transform: rotate(0deg)}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}

    /* 25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;} */
}

.box {
    position:absolute;
    background-color:#FBED28;
    border: 10px black solid;
    padding:1%;
    font-family: Courier New;
    font-size: 70%;
    font-weight: bold;
}

.title {
    background-image: url("../Images/title.png");
    position: absolute;
    width: 100%;
    height: 50%;
    left:21%;
    background-repeat: no-repeat;
#stats {
    left:24%;
    bottom:2%;

    width:52%;
}
#statPlayerCount::after {
    content: " players online right now";
}
#statPlayingCount::after {
    content: " games are being played right now";
}
#statPlayedCount::after {
    content: " games have been played";
}

#rules {
    background-image: url("/Images/Button_Rules.png");
    background-size: 100% 100%;

    margin: 0;

    right: 1%;
    bottom: 2%;
}
#rules:hover {
    background-image: url("/Images/Button_Rules_Hover.png");
    background-size: 100% 100%;

    cursor:pointer;
}

#rulesPopUpSplash {
    background-color: #676767;
    z-index: 500;
    overflow:  scroll;
    position: relative;
    height: 80%;
    top: 10%;
}

#close {
    width: 20%;
    left:40%;
    cursor: pointer;
}

#close:hover {
    background-color: #FFCA08;
}

span.spanStats::after {
    content: url("/Images/spooky_orange_small.png");
}