body {
    background: url("../Images/background_splash.png") no-repeat center center fixed;
    background-size: cover;
    background-color: transparent;

}
.title {
    background-image: url("../Images/title.png");
}

button {
    outline: none;
    border: none;
    background-color: transparent;

    background-image: url("../Images/start.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 37%;
    right: 33%;
    width: 33%;

    margin: 0;
}

button:hover {
    background-image: url("../Images/start_hover.png");
    cursor: pointer;
    animation: playAnimation 5s infinite linear;
}

@keyframes playAnimation {
    0%   {transform: rotate(0deg)}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}

    /* 25%  {background-color:yellow; left:200px; top:0px;}
    50%  {background-color:blue; left:200px; top:200px;}
    75%  {background-color:green; left:0px; top:200px;}
    100% {background-color:red; left:0px; top:0px;} */
}

.box {
    position:absolute;
    background-color:#FBED28;
    border: 10px black solid;
    padding:1%;
    font-family: Courier New;
    font-size: 70%;
    font-weight: bold;
}

.title {
    background-image: url("../Images/title.png");
    position: absolute;
    width: 100%;
    height: 50%;
    left:21%;
    background-repeat: no-repeat;
}

#stats {
    bottom:0;
    left:25%;
    right:25%;
    width:50%;
}

#rules {
    right: 0;
    margin: 0;
    bottom: 0;
}

#rules:hover {
    background-color: #FFCA08;
    cursor:pointer;
}

#rulesPopUpSplash {
    background-color: #676767;
    z-index: 500;
    overflow:  scroll;
    position: relative;
    height: 80%;
    top: 10%;
}

#close {
    width: 20%;
    left:40%;
    cursor: pointer;
}

#close:hover {
    background-color: #FFCA08;
}

span.spanStats::after {
    content: url("/Images/spooky_orange_small.png");
}