main {
    background-image: url("/Images/Background_Splash.png");
    background-size: 100% 100%;

    width: 100%;
    height: 100%;
}

.title {
    background-image: url("/Images/Title.png");
    background-repeat: no-repeat;
    background-size: contain;

    position: absolute;
    left:10%;
    top:5%;

    width: 80%;
    height: 20%;
}

#playContainer {
    position: absolute;
    left: 38%;
    top: 30%;

    width: 24%;
    height: 40%;
}

#play {
    outline: none;
    border: none;
    background-color: transparent;

    background-image: url("/Images/Start.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    width: 100%;
    height: 100%;

    margin: 0;
}
#playContainer:hover > #play {
    background-image: url("/Images/Start_Hover.png");
    cursor: pointer;
    animation: playAnimation 5s infinite linear;
}

@keyframes playAnimation {
    0%   {transform: rotate(0deg);}
    25% {transform: rotate(90deg);}
    50% {transform: rotate(180deg);}
    75% {transform: rotate(270deg);}
    100% {transform: rotate(360deg);}
}


#stats {
    left:24%;
    bottom:2%;

    width:52%;
}
#statPlayerCount::after {
    content: " players online right now";
}
#statPlayingCount::after {
    content: " games are being played right now";
}
#statPlayedCount::after {
    content: " games have been played";
}

#rules {
    background-image: url("/Images/Button_Rules.png");
    background-size: 100% 100%;

    margin: 0;

    right: 1%;
    bottom: 2%;
}
#rules:hover {
    background-image: url("/Images/Button_Rules_Hover.png");
    background-size: 100% 100%;

    cursor:pointer;
}