body {
    background-image: url("../Images/background_splash.png");


    background-position: center bottom;
    background-size: cover;
    background-color: transparent;

}
.title {
    background-image: url("../Images/title.png");
}

button.play {
    outline: none;
    border: none;
    background-color: transparent;

    background-image: url("../Images/start.png");
    background-repeat: no-repeat;
    background-position: center bottom;
    background-size: contain;

    position: absolute;
    top: 30%;
    bottom: 30%;
    left: 37%;
    right: 33%;
    width: 33%;

    margin: 0;
}

button.play:hover {
    background-image: url("../Images/start_hover.png");
    cursor: pointer;
}

.box {
    position:absolute;
    background-color:#FBED28;
    border: 10px black solid;
    padding:1%;
    font-family: Courier New;
    font-size: 70%;
    font-weight: bold;
}

.title {
    background-image: url("../Images/title.png");
    position: absolute;
    width: 100%;
    height: 50%;
    left:21%;

    background-repeat: no-repeat;
}

#stats {
    bottom:0;
    left:25%;
    right:25%;
    width:50%;
}

#rules {
    right: 0;
    margin: 0;
    bottom: 0;
}

#rules:hover {
    background-color: #FFCA08;
    cursor:pointer;
}
