body {
  background-color: black;
  text-align: center;

  width: min(160vh, 90vw);
  height: min(90vh, 50.63vw);
  
  position: fixed;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);

  font-size: min(5vh, 2.81vw);
}

.box {
  position: absolute;

  background-color: #FBED28;
  background-clip: padding-box;
  border: .3rem black solid;
  box-sizing: border-box;
  padding: 1%;

  font-family: Courier New;
  font-size: 70%;
  font-weight: bold;
}