body {
  background-color: black;
  text-align: center;

  width: min(160vh, 90vw);
  height: min(90vh, 50.6vw);
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  font-size: min(5vh, 2.8vw);
}