body {
  background-color: black;
  text-align: center;

  width: 162vh;
  height: 90vh;
  max-width: 90vw;
  max-height: 49.5vw;
  
  position: fixed;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

main {
  width: 100%;
  height: 100%;
}

img {
  vertical-align: middle;
}

span {
  vertical-align: middle;
}